.btn {
    width: 165px;
    height: 50px;
    border: 1px solid #00D5C3;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    transition-duration: 0.3s;
    &:hover {
        background: #00D5C3;
    }
}